.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.calendrier-case6 {
  background-color: green;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.porte6 {
  /* cursor: pointer; */
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 155px;
  transform-origin: left;
  transition: all 0.5s ease-in-out;
}

.ouverture,
#card6 {
  transform: rotateY(-160deg) !important;
}

.message6 {
  font-size: 2rem;
  font-weight: 300;
  color: black;
  text-align: center;
  padding: 1rem;
}
.card6-done p {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
}
#case6 .card-content {
  background-image: url(https://c.ndtvimg.com/2021-10/n3amt0b_gifts650_625x300_19_October_21.jpg?im=FaceCrop,algorithm=dnn,width=1200,height=886);
}
@media screen and (min-width: 48rem) {
  .message6 {
    padding: 0;
  }
}
/* Carte 23 */
#case23 .day-23 {
  grid-area: d1;
}
#case23 .day-23 .back {
  background: url("./img/210a837e1f84755c74fc73b4a2deb3ae.png");
}

#case23 label {
  perspective: 1000px;
  transform-style: preserve-3d;
  cursor: pointer;

  display: flex;
  min-height: 100%;
  width: 100%;
  height: 120px;
}

#case23 .door {
  width: 100%;
  transform-style: preserve-3d;
  transition: all 300ms;
  border: 2px dashed transparent;
  border-radius: 10px;
}

#case23 .door div {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kalam", cursive;
  color: #385052;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2);
}

#case23 .door .back {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #2e313d;
  transform: rotateY(180deg);
}

#case23 label:hover .door {
  border-color: #385052;
}

#case23 :checked + .door {
  transform: rotateY(180deg);
}

#case23 .front {
  background-color: orange;
}

#case23 .back a {
  color: red;
}
