.merlin {
  position: sticky;
  top: 20px;
  left: 20px;
  aspect-ratio: 1/1;
  font: italic bold 8px "Fira Sans", serif;
  background-color: #000;
  display: grid;
  place-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
.merlin > h1 {
  color: white;
  text-align: center;
  /* margin-bottom: 30px; */
}
.merlin > h2 {
  background-color: #000;
  color: white;
  font-size: 2em;
  text-align: center;
}
.img_merlin {
  width: 30%;
  transform: perspective(800px) rotateY(25deg);
  transition: 0.5s;
}
.games_containers_merlin {
  max-width: 400px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.games_containers_merlin:hover img {
  opacity: 0.3;
}
.games_containers_merlin img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}
.animationMerlin {
  position: fixed;
  top: 0;
  left: 0;
}
/* DEUXIEME CARTE */
.cards_merlin {
  width: 100%;
  height: 100%;
  background-color: rgb(189, 181, 181);
  perspective: 2000px;
  -webkit-transform: perspective(900px);
  -webkit-transform-style: preserve-3d;
}

/* ------------------------------------------------------------------------------- */
/* ----------------------------- Custom du Text ---------------------------------- */
/* ------------------------------------------------------------------------------- */
#card5 {
  transform: rotateX(120deg) rotateY(-60deg) rotateZ(10deg);
}
.cards_merlin > h1 {
  margin-bottom: 150px;
}
.title_merlin {
  text-align: center;
}
.title_merlin h1 {
  font-size: 25px;
  font-family: "Exo", sans-serif;
}
.card_merlin_1,
.card_merlin_2,
.card_merlin_3 > h3.merlin-subtitle {
  margin-top: 0px;
  font-size: 18px;
  margin-top: 5px;
  font-family: "Abel", sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 2px rgb(255, 255, 255);
  transform: translatey(10px);
}

/* ------------------------------------------------------------------------------- */
/* -------------------------- Cartes Taille et Animations ------------------------ */
/* ------------------------------------------------------------------------------- */

.card_merlin_1,
.card_merlin_2,
.card_merlin_3 {
  text-align: center;
  position: absolute;
  width: 125px;
  height: 175px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 0.6s;
  transform: rotatex(75deg) translatey(-200px) translatez(-100px);
  background-color: grey;
}

/* ------------------------------------------------------------------------------- */
/* ---------------------------- Couleur Carte et Position------------------------- */
/* ------------------------------------------------------------------------------- */

.card_merlin_1 {
  left: 0%;
}

.card_merlin_2 {
  left: 40%;
}
.card_merlin_3 {
  left: 80%;
}

/* ------------------------------------------------------------------------------- */
/* ---------------------------- Cartes Survol ------------------------------------ */
/* ------------------------------------------------------------------------------- */

.card_merlin_1:hover,
.card_merlin_2:hover,
.card_merlin_3:hover {
  transform: rotatex(0deg);
  transition: 0.6s;
}
.card_merlin_1 img,
.card_merlin_2 img,
.card_merlin_3 img {
  transform: translateY(15px);
  width: 110px;
  height: 100px;
}
